.container {
  text-align: center;
}
body{
  background-image: url(landscape.png);
    width: 100%;
    height: 100%;
    background-origin: border-box;
    background-repeat: no-repeat;
    object-fit: none;
}
p {
  text-align: center;
}
em {
  text-transform: uppercase;
}
button {
  background-color:rgba(0, 0, 0, 0.1);
  
  columns: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  background-position: center;
}

button:hover {
  background-color: rgba(226, 139, 226, 0.20);
  backface-visibility: hidden;
}
.bts {
  height: 35px;
  width: 200px;
}
.bts1 {
  width: 200px;
  height: 35px;
}
.bts2 {
  width: 200px;
  height: 35px;
}
.bts3 {
  width: 200px;
  height: 35px;
}
