.container {
  text-align: center;

}
body{
  background-image: url(Purple\ Bliss.jpg);
   background-size: 100% 300%;
    height: 800%; 
    background-repeat: repeat-y;
    object-fit: cover;
}

h1{
 font-family: 'Lobster', cursive;
 font-size: 2rem;
}
button {
  background-color:rgba(123, 94, 94, 0);
  font-family:'Lobster', cursive;
  font-weight: 1000;
  font-size: 1em;
  columns: white;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

button:hover {
  text-transform: uppercase;
  backface-visibility: hidden;
}
.bts.bts1.bts2 .bts3 {
  height: 35px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 50%;
}
.animate-charcter
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #8434da 29%,
    rgb(61, 206, 247) 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 50% auto;
  color: #fff;
  background-clip: text;
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  animation-delay: 1s;
  display: inline-block;
      font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}