.container {
  text-align: center;

}
body{
  background-image: url(Purple\ Bliss.jpg);
   background-size: 110% 190%;
    height: 800%; 
    background-repeat: no-repeat;
    object-fit: cover;
}
p {
  text-align: center;
  font-family: 'Gideon Roman', cursive;
  margin-top: 25px;
}
em {
  text-transform: uppercase;
}
button {
  background-color:rgba(123, 94, 94, 0);
  font-family:  'Gideon Roman', cursive;
  font-weight: 1000;
  font-size: 1em;
  columns: white;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;

  
}

button:hover {
  background-color: rgba(102, 235, 222, 0.2);
  backface-visibility: hidden;
}
.bts {
  height: 35px;
  width: 200px;
  margin-top: 25px;
}
.bts1 {
  width: 200px;
  height: 35px;
}
.bts2 {
  width: 200px;
  height: 35px;
}
.bts3 {
  width: 200px;
  height: 35px;
}
.image{
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 50%;
}